@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
    --Pink: hsl(322, 100%, 66%);
    --grayfont: #78848E;
    --bluefooter: #00252E;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%
}
a{
    text-decoration: none;
}
header{
    background-image: url('../images/bg-hero-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display:flex;
    justify-content: center;
}
.header-container{
    max-width: 1300px;
    min-width: 320px;
}
.huddle-title{
    padding: 3rem 2rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.huddle-title .title__logo{
    height: 2rem;
}
.huddle-title .title__tryfree{
    height: 2.5rem;
    width: 9.5rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 1px 6px 0 #20212447;
    justify-self: end;
    display: flex;
}
.huddle-title .title__tryfree a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    align-self:center;
    color:black;
}
.header-content{
    display:flex;
    flex-flow:column;
}
.huddle-text{
    padding: 30px 35px; 
    display:flex;
    flex-flow:column;
    text-align: center;
    gap: 20px;
    height: auto;
    justify-content: center;
}
.huddle-text .text__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.huddle-text .text__content{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
}
.huddle-text .text__call-to-action{
    height: 3.5rem;
    width: 20rem;
    background-color: var(--Pink);
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
}
.huddle-text .text__call-to-action a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    align-self:center;
    color:white;
}
.header-content img{
    align-self: center;
    padding: 30px 35px; 
    max-width: 800px;
}
.cards-container{
    padding: 40px 20px;
    min-width: 320px;
}
.card{
    min-width: 250px;
    max-width: 500px;
    margin: 18px auto;
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-flow:column;
    text-align: center;
    gap: 22px;
    padding: 40px 40px;
    font-family: 'Open Sans', sans-serif;
}
.card .card--text h4{
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 20px;
}
.card .card--text p{
    color: var(--grayfont);
    font-size: 1.4rem;
}
footer{
    background: var(--bluefooter);
    padding: 125px 15px 25px 15px;
    position: relative;
    margin-top: 40px;
    display:flex;
    justify-content: center;
}
.footer-container{
    min-width: 320px;
    max-width: 1440px;
}
.flex-container{
    display:flex;
    width: 100%;
    justify-content: center;
}
.footer--tryfree{
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: 20px;
    top: -50px;
    text-align: center;
    width: 50vw;
    min-width: 310px;
}
.footer--tryfree .text{
    color: var(--bluefooter);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding-top: 20px;
}
.footer--tryfree .call-to-action{
    height: 3.5rem;
    width: 20rem;
    background-color: var(--Pink);
    border-radius: 50px;
    display: flex;
    margin: 25px auto 25px auto;
}
.footer--tryfree .call-to-action a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    align-self:center;
    color:white;
}
.footer--contact img{
    width: 180px;
}
.footer--contact .grid-container{
    width: 100%;
    display:grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 25px;
    padding-top: 25px;
}
.phone-icon{
    background: url('../images/phone-call.svg');
}
.email-icon{
    background: url('../images/email.svg');
}
.location-icon{
    background: url('../images/locationfinal.svg');
}
.icon{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.footer-text{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
} 
.footer--information{
    margin-top: 25px;
}
.footer--information ul li, .footer--blog ul li{
    list-style: none;
    padding-top: 20px;
}
.footer--information ul li a, .footer--blog ul li a{
    color: white;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.footer--social .social__media{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.fa-facebook:before, .fa-twitter:before, .fa-instagram:before{
    color: white;
    font-size: 2.5rem;
}
.footer--social .social__copyright{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    color:white;
    font-family: 'Poppins', sans-serif;
}